name: Jekyll Build and Deploy

on:
  push:
    branches:
    - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3
      with:
        node-version: '16'
        ruby-version: '3.1'

    - name: Setup Ruby
      uses: actions/setup-ruby@v1
      with:
        node-version: '16'
        ruby-version: '3.1'

    - name: Install dependencies
      run: bundle install


    - name: Build site
      run: bundle exec jekyll build


  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
      with:
        node-version: '16'
        ruby-version: '3.1'

    - name: Deploy to GitHub Pages
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.JEKYLL_PAT }}
        publish_dir: _site
